html {
    background: #e3e3e3;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}
h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog_img {
    display: block;
    width: 50%;
    float: left;
    margin-right: 20px;
}

.about_img {
    display: block;
    width: 30%;
}

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.links {
    display: inline-block;
}

h2 {
    text-align: center;
}

address {
    text-align: right;
}

time {
    display: block;
    text-align: right;
}

.stick {
    position: sticky;
    top: 0;
    background-color: lightblue;
}

.blog_container {
    background: #ccc;
    display: flex;
}

.blog-post {
    background: #999;
    padding: 20px;
    margin: 20px;
    width:100%;
    border-bottom: 1px dotted #ccc;
}

.subscribe {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.contact_input {
    margin-top: 10px;
}


  
